<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClippySync.Tray.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClippySync.Tray.App>
            <setting name="Config" serializeAs="String">
                <value>https://www.icloud.com/shortcuts/AAAAAAA</value>
            </setting>
            <setting name="IOS2WIN" serializeAs="String">
                <value>https://www.icloud.com/shortcuts/BBBBBBB</value>
            </setting>
            <setting name="WIN2IOS" serializeAs="String">
                <value>https://www.icloud.com/shortcuts/CCCCCCC</value>
            </setting>
        </ClippySync.Tray.App>
    </applicationSettings>
</configuration>